.App {
  text-align: center;
  background-color: #d5e8ac;
  /* 폰트 */
  font-family: Barlow;
  font-size: 19px;
  color: white;
  font-weight: 600;
  padding: 1rem;

  height: 100%;
  width: 100%;
}

/* HONGIT 설정 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
.mainLogo{
  font-size: 250px;
}
.address{
  font-size: 20px;
}